/* GLOBAL STYLING START ------------------------*/
body {
    font-family: Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: #FEFEFE;
}

div {
    width: 70%;
    margin: auto;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted #000;
}

/* HEADER STYLING START ------------------------*/
#header {
    border-bottom: 5px solid #787878;
    text-shadow: 0px 1px 3px #b8b8b8;
}

#header ul {
    list-style-type:none;
}

#header ul li {
    display: inline;
    font-size: 12px;
    padding-left: 15px;
}

#header ul li.active a {
    color:#0099FF;
    text-decoration: none;
    border-bottom:3px solid #4197E3;
}

#header a {
    text-decoration: none;
    border-bottom:0px;
}

#header a:link {
    color:#000;
}

#header a:visited {
    color:#000;
}

#page-title {
    font-size: 2em;
    padding: 0px;
    margin: 0px;
}

#page-title a {
    border-bottom: 0px;
}

#page-title a:visited {
   color:#000; 
}

/* POSTS STYLING START -------------------------*/
.post-date {
    color:#555555;
    text-shadow: 0px 1px 1px #b8b8b8;
}

.post-link {

}
/* BODY STYLING START --------------------------*/
#body {
    font-size:12px;
    border-bottom:1px solid #787878;
}

#page-subtitle {
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 1px 3px #b8b8b8;
}
/* FOOTER STYLING START ------------------------*/
#footer {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 10px;
}

#footer ul {
    list-style-type: none;
    list-style-position: inside;
}

#footer ul li {
    display: inline;
    padding-right: 10px;
    padding-left: 0px;
}

#footer a {
    text-decoration: none;
    border-bottom: none;
    color: #A7A7A7;
}
