body {
    margin:0;
    padding:0;
}

#header {
    height: 150px;
    width: 100%;
    background: #202221 repeat-x;
}

#header .title {
    font-size: 3em;
    color: white;
    text-align:center;
}

#content {
}

#footer {
}
a.hover { text-decoration: none; }
