/* GLOBAL STYLING START ------------------------*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    width: 100%;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted #000;
}

/* HEADER STYLING START ------------------------*/
#header {
    border-bottom: 5px solid #787878;
}

#header ul {
    list-style-type:none;
}

#header ul li {
    display: inline;
    font-size: 12px;
    padding-left: 15px;
}

#header ul li.active a {
    color:#4D7484;
    text-decoration: none;
    border-bottom:1px dotted #4197E3;
}

#header a {
    text-decoration: none;
}

#header a:visited {
    color:#000;
}

#page-title {
    font-size: 2em;
    padding: 0px;
    margin: 0px;
}

#page-subtitle {

}
/* POSTS STYLING START -------------------------*/
.post-date {
    color:#555555;
}

.post-link {

}
/* BODY STYLING START --------------------------*/
#body {
    font-size:12px;
}
/* FOOTER STYLING START ------------------------*/
#footer {
    text-align: center;
    font-size: 10px;
}

#footer ul {
    list-style-type: none;
}
