<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
        <meta name="author" content="Son Nguyen : son.nguyeun@gmail.com" />
        <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
        <title>Son Nguyen - {{ page.title }}</title>
    </head>
    <body>
        <div id="header">
            <p id="page-title"><a class="page-title-link" href="http://son-nguyen.github.com">Son Nguyen</a></p>

            <ul>
                <li {% if page.random == "home" %} class="active" {% endif %}><a href="/index.html">Home</a></li>
                <li {% if page.random == "about" %} class="active" {% endif %}><a href="/about">About</a></li>
            </ul>

        </div>

        <div id="body">
            {% if page.random != "Home" %}
                <p id="page-subtitle">{{ page.title }}</p>
            {% else %}
                <p id="page-subtitle">Recent Posts</p>
            {% endif %}

            {{ content }}
        </div>
       
        <div id="footer">
            <ul>
                <li><a href="mailto:son.nguyeun@gmail.com">Email</a></li>
                <li><a href="http://www.facebok.com/anh.son">Facebook</a></li>
                <li><a href="http://github.com/son-nguyen">Github</a></li>
            </ul>
            <p>my <a href="http://jigsaw.w3.org/css-validator/check/referer">css</a> and <a href="http://validator.w3.org/check?uri=referer">html</a> are valid.</p>
        </div>
    </body>
</html>
